@import "variables";

.selected-job {
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: scroll;
}

.code {
  font-family: monospace;
}

.worker {
  @include card;
  display: flex;
  flex-direction: column;
  background-color: $light-shade;
  position: relative;

  &.deleted {
    opacity: 0.3;
  }

  button.delete {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    &.jobs {
      flex-direction:column;
    }
  }

  .datum {
    @include grid-card;
    font-size: 0.8em;
    width: 100px;
    height: 60px;
    background-color: $light;
    vertical-align: middle;
    display: inline-flex;
    flex-direction: column;

    span {
      margin: 0;
      padding: 0;
      line-height: 30px;
      text-align: center;
    }

    .value {
      font-weight: bold;
    }
  }

  .job {
    @include card;
    cursor: pointer;
    background-color: $light;

    .title {
      margin-right: 20px;
    }

    &:before {
      content: "▶";
      color: $accent;
      position: absolute;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      left:-30px;
      opacity: 0;
      transition: all linear 0.2s;
    }

    &.selected {
      border: 1px solid $accent;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      transform: translateX(20px);

      &:before {
        opacity: 1;
      }
    }
  }
}
